@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #3a9ce2;
	--secondary-color: #1b1f24;
	--light-secondary-color: #313539;
	--black-color: #1e1e1e;
	--white-color: #f6f6f6;
	--dark-white-color: #939393;
	--normal-font-size: 1.2rem;
	--heading-font-size: 3.8rem;
	--subheading-font-size: 2.2rem;
}

@font-face {
	font-family: 'PT sans';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/PTSans-Regular.ttf');
}

body,
input,
textarea {
	font-family: 'PT sans';
}

.spreaded-title {
	font-family: 'PT Sans';
	color: var(--white-color);
	font-style: normal;
	font-weight: 700;
	font-size: var(--normal-font-size);
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
